ELYMENTS_COUNTRY_CODE=+91
ELYMENTS_PHONE=9686188814
ELYMENTS_OTP=
ELYMENTS_STORE_DIR=~/.elyments
ELYMENTS_SESSION_PATH=
ELYMENTS_ORIGIN=W|node|elyments-sdk
ELYMENTS_TEST_GROUP=Test Group
ELYMENTS_SENDER_NAME=sai sankalp rao
ELYMENTS_TO_JID=
ELYMENTS_TO_NAME=Swamiji Office Vds Aol
ELYMENTS_MESSAGE=Hello from Elyments SDK (ignore)
ELYMENTS_GROUP_JID=
ELYMENTS_HISTORY_JID=
ELYMENTS_PORT=3000
ELYMENTS_TLS_INSECURE=0
